@import url(https://fonts.googleapis.com/css?family=Exo+2);
@import url(https://fonts.googleapis.com/css?family=Exo+2);
@import url(https://fonts.googleapis.com/css?family=Exo+2);
* {
  box-sizing: border-box; }

html {
  background-color: #191919; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #1f1f1f; }
  body .active {
    outline: 0; }

.menuIcon_container {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center; }

#drawer {
  font-family: 'Exo 2', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; }

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 3% 0 3%; }
  header svg {
    stroke: #1f48e7;
    stroke-width: 3.5;
    margin: 0 auto;
    display: block; }
    header svg:hover {
      stroke: #1f48e7;
      cursor: pointer; }

.formTitle {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.formProjectType_container,
.formServices_container,
.formProjectDescription_container,
.contacts_container,
.submitForm_wrapper {
  padding: 0 5% 5px 8%;
  display: flex;
  flex-direction: column;
  margin-top: 3%; }
  .formProjectType_container label:first-child,
  .formServices_container label:first-child,
  .formProjectDescription_container label:first-child,
  .contacts_container label:first-child,
  .submitForm_wrapper label:first-child {
    font-family: 'Exo 2', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 5px; }
  .formProjectType_container div,
  .formServices_container div,
  .formProjectDescription_container div,
  .contacts_container div,
  .submitForm_wrapper div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.formRangeSelectors_container,
.file_uploader_container {
  padding: 0 5% 5px 8%;
  display: flex;
  margin-top: 3%; }
  .formRangeSelectors_container label:first-child,
  .file_uploader_container label:first-child {
    font-family: 'Exo 2', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 5px; }

.file_uploader_container {
  align-items: baseline;
  margin-top: 5px !important; }

.uploader_links_wrapper {
  display: flex;
  width: 100%;
  max-width: 704px;
  align-items: flex-start; }

.file_upload_link,
.file_uploaded_link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-right: 5%; }
  .file_upload_link svg,
  .file_uploaded_link svg {
    margin-right: 5px;
    fill: white; }
  .file_upload_link:hover,
  .file_uploaded_link:hover {
    cursor: pointer; }
    .file_upload_link:hover svg,
    .file_uploaded_link:hover svg {
      cursor: pointer; }

.file_uploaded_link:hover svg {
  fill: red; }

.file_upload_link:hover svg {
  fill: #1f48e7; }

.uploader_description,
.uploader_description_mobile {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  font-weight: 300; }

.btn_form.active, .btn_form_project.active {
  background-color: #1f48e7;
  border: 1px solid #1f48e7;
  border-radius: 4px;
  outline: 0; }
  .btn_form.active:hover, .btn_form_project.active:hover {
    background-color: #2043cb;
    border: 1px solid #2043cb;
    cursor: pointer;
    outline: 0; }
  .btn_form.active:focus, .btn_form_project.active:focus {
    outline: 0; }

.btn_form, .btn_form_project {
  background-color: #474747;
  border: 1px solid #474747;
  border-radius: 4px;
  outline: 0; }
  .btn_form:focus, .btn_form_project:focus {
    outline: 0; }
  .btn_form:hover, .btn_form_project:hover {
    background-color: #373737;
    border: 1px solid #373737;
    cursor: pointer;
    outline: 0; }

.btn_form, .btn_form_project::-moz-focus-inner {
  outline: 0; }

.btn_submit {
  width: 100%;
  background-color: #1f48e7;
  border: 1px solid #1f48e7;
  border-radius: 4px; }
  .btn_submit:hover {
    background-color: #2043cb;
    border: 1px solid #2043cb;
    cursor: pointer;
    outline: 0; }

@media screen and (max-width: 575px) {
  #menuBtn {
    display: none; }
  header {
    max-height: 10px; }
  .btn_form.active:first-of-type,
  .btn_form_project.active:first-of-type,
  .btn_form:first-of-type, .btn_form_project:first-of-type {
    min-width: 183px !important; }
  .btn_form.active, .btn_form_project.active,
  .btn_form, .btn_form_project {
    margin: 10px 10px 10px 0;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 120px;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center; }
  .btn_submit {
    height: 64px;
    max-width: 335px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif; }
  .formProjectType_container,
  .formServices_container,
  .formProjectDescription_container,
  .contacts_container,
  .submitForm_wrapper,
  .formTitle {
    padding: 0 4% 5px 4%; }
  .submitForm_wrapper div {
    justify-content: center; }
  .formTitle > p {
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 300; }
  .formRangeSelectors_container,
  .file_uploader_container {
    flex-direction: column; }
  .uploader_links_wrapper,
  .contacts_container {
    flex-direction: column; }
  .contacts_container div,
  .formProjectDescription_container div {
    flex-direction: column; }
  .uploader_description_mobile {
    display: block; }
  .uploader_description {
    display: none; } }

@media screen and (min-width: 575px) {
  #menuBtn {
    display: block; }
  header {
    max-height: 50px; }
  .btn_form.active:first-of-type,
  .btn_form_project.active:first-of-type,
  .btn_form:first-of-type, .btn_form_project:first-of-type {
    min-width: 235px !important; }
  .btn_form.active, .btn_form_project.active,
  .btn_form, .btn_form_project {
    margin: 20px 20px 20px 0;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center; }
  .btn_submit {
    margin-right: 10px;
    height: 60px;
    max-width: 273px;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif; }
  .formProjectType_container,
  .formServices_container,
  .formProjectDescription_container,
  .contacts_container,
  .submitForm_wrapper,
  .formTitle {
    padding: 0 5% 5px 8%; }
  .formTitle > p {
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    font-weight: 300; }
  .formRangeSelectors_container,
  .file_uploader_container {
    flex-direction: row; }
  .uploader_description_mobile {
    display: none; }
  .uploader_description {
    display: block; } }

.ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10000; }
  .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    pointer-events: none;
    background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform: scale(10, 10);
            transform: scale(10, 10);
    opacity: 0;
    transition: opacity 1s, -webkit-transform .5s;
    transition: transform .5s, opacity 1s;
    transition: transform .5s, opacity 1s, -webkit-transform .5s; }
  .ripple:active:after {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: .2;
    transition: 0s; }

* {
  box-sizing: border-box; }

html {
  background-color: #191919; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #1f1f1f; }
  body .active {
    outline: 0; }

.menuIcon_container {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center; }

#drawer {
  font-family: 'Exo 2', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; }

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 3% 0 3%; }
  header svg {
    stroke: #1f48e7;
    stroke-width: 3.5;
    margin: 0 auto;
    display: block; }
    header svg:hover {
      stroke: #1f48e7;
      cursor: pointer; }

.formTitle {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.formProjectType_container,
.formServices_container,
.formProjectDescription_container,
.contacts_container,
.submitForm_wrapper {
  padding: 0 5% 5px 8%;
  display: flex;
  flex-direction: column;
  margin-top: 3%; }
  .formProjectType_container label:first-child,
  .formServices_container label:first-child,
  .formProjectDescription_container label:first-child,
  .contacts_container label:first-child,
  .submitForm_wrapper label:first-child {
    font-family: 'Exo 2', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 5px; }
  .formProjectType_container div,
  .formServices_container div,
  .formProjectDescription_container div,
  .contacts_container div,
  .submitForm_wrapper div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.formRangeSelectors_container,
.file_uploader_container {
  padding: 0 5% 5px 8%;
  display: flex;
  margin-top: 3%; }
  .formRangeSelectors_container label:first-child,
  .file_uploader_container label:first-child {
    font-family: 'Exo 2', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 5px; }

.file_uploader_container {
  align-items: baseline;
  margin-top: 5px !important; }

.uploader_links_wrapper {
  display: flex;
  width: 100%;
  max-width: 704px;
  align-items: flex-start; }

.file_upload_link,
.file_uploaded_link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-right: 5%; }
  .file_upload_link svg,
  .file_uploaded_link svg {
    margin-right: 5px;
    fill: white; }
  .file_upload_link:hover,
  .file_uploaded_link:hover {
    cursor: pointer; }
    .file_upload_link:hover svg,
    .file_uploaded_link:hover svg {
      cursor: pointer; }

.file_uploaded_link:hover svg {
  fill: red; }

.file_upload_link:hover svg {
  fill: #1f48e7; }

.uploader_description,
.uploader_description_mobile {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  font-weight: 300; }

.btn_form.active, .btn_form_project.active {
  background-color: #1f48e7;
  border: 1px solid #1f48e7;
  border-radius: 4px;
  outline: 0; }
  .btn_form.active:hover, .btn_form_project.active:hover {
    background-color: #2043cb;
    border: 1px solid #2043cb;
    cursor: pointer;
    outline: 0; }
  .btn_form.active:focus, .btn_form_project.active:focus {
    outline: 0; }

.btn_form, .btn_form_project {
  background-color: #474747;
  border: 1px solid #474747;
  border-radius: 4px;
  outline: 0; }
  .btn_form:focus, .btn_form_project:focus {
    outline: 0; }
  .btn_form:hover, .btn_form_project:hover {
    background-color: #373737;
    border: 1px solid #373737;
    cursor: pointer;
    outline: 0; }

.btn_form, .btn_form_project::-moz-focus-inner {
  outline: 0; }

.btn_submit {
  width: 100%;
  background-color: #1f48e7;
  border: 1px solid #1f48e7;
  border-radius: 4px; }
  .btn_submit:hover {
    background-color: #2043cb;
    border: 1px solid #2043cb;
    cursor: pointer;
    outline: 0; }

@media screen and (max-width: 575px) {
  #menuBtn {
    display: none; }
  header {
    max-height: 10px; }
  .btn_form.active:first-of-type,
  .btn_form_project.active:first-of-type,
  .btn_form:first-of-type, .btn_form_project:first-of-type {
    min-width: 183px !important; }
  .btn_form.active, .btn_form_project.active,
  .btn_form, .btn_form_project {
    margin: 10px 10px 10px 0;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 120px;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center; }
  .btn_submit {
    height: 64px;
    max-width: 335px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif; }
  .formProjectType_container,
  .formServices_container,
  .formProjectDescription_container,
  .contacts_container,
  .submitForm_wrapper,
  .formTitle {
    padding: 0 4% 5px 4%; }
  .submitForm_wrapper div {
    justify-content: center; }
  .formTitle > p {
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 300; }
  .formRangeSelectors_container,
  .file_uploader_container {
    flex-direction: column; }
  .uploader_links_wrapper,
  .contacts_container {
    flex-direction: column; }
  .contacts_container div,
  .formProjectDescription_container div {
    flex-direction: column; }
  .uploader_description_mobile {
    display: block; }
  .uploader_description {
    display: none; } }

@media screen and (min-width: 575px) {
  #menuBtn {
    display: block; }
  header {
    max-height: 50px; }
  .btn_form.active:first-of-type,
  .btn_form_project.active:first-of-type,
  .btn_form:first-of-type, .btn_form_project:first-of-type {
    min-width: 235px !important; }
  .btn_form.active, .btn_form_project.active,
  .btn_form, .btn_form_project {
    margin: 20px 20px 20px 0;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center; }
  .btn_submit {
    margin-right: 10px;
    height: 60px;
    max-width: 273px;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif; }
  .formProjectType_container,
  .formServices_container,
  .formProjectDescription_container,
  .contacts_container,
  .submitForm_wrapper,
  .formTitle {
    padding: 0 5% 5px 8%; }
  .formTitle > p {
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    font-weight: 300; }
  .formRangeSelectors_container,
  .file_uploader_container {
    flex-direction: row; }
  .uploader_description_mobile {
    display: none; }
  .uploader_description {
    display: block; } }

.ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10000; }
  .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    pointer-events: none;
    background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform: scale(10, 10);
            transform: scale(10, 10);
    opacity: 0;
    transition: opacity 1s, -webkit-transform .5s;
    transition: transform .5s, opacity 1s;
    transition: transform .5s, opacity 1s, -webkit-transform .5s; }
  .ripple:active:after {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: .2;
    transition: 0s; }

input[type=range] {
  outline: 0;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  min-height: 34px;
  overflow: hidden; }

input[type=range]:focus {
  box-shadow: none;
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min))/var(--range));
  --sx: calc(.5*2.5em + var(--ratio)*(100% - 2.5em));
  background: linear-gradient(#1f48e7, #1f48e7) 0/var(--sx) 100% no-repeat #ccc;
  height: 3px; }

input[type=range]::-webkit-slider-thumb {
  height: 32px;
  width: 32px;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
  background: #1f48e7;
  border-radius: 50%;
  margin-top: -15px;
  border: 10px solid #1f48e7; }

input[type=range]::-moz-range-track {
  height: 2px; }

input[type=range]::-moz-range-thumb {
  height: 32px;
  width: 32px;
  background: #1f48e7;
  border-radius: 50%;
  border: 1px solid #1f48e7;
  position: relative; }

input[type=range]::-moz-range-progress {
  height: 2px;
  background: #1f48e7;
  border: 0;
  margin-top: 0; }

input[type=range]::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: transparent;
  height: 2px;
  margin-top: 10px; }

input[type=range]::-ms-thumb {
  height: 32px;
  width: 32px;
  background: #1f48e7;
  border-radius: 50%;
  border: 1px solid #1f48e7; }

input[type=range]::-ms-fill-lower {
  background: #1f48e7;
  border-radius: 0; }

input[type=range]::-ms-fill-upper {
  background: #c7c7c7;
  border-radius: 0; }

input[type=range]::-ms-tooltip {
  display: none; }

input[type=range]:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

button:focus,
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important; }

.sliderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 124px;
  margin-right: 10%; }

.sliderContainer > p {
  margin-bottom: 5%; }

.resultsContainer {
  font-family: 'Exo 2', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto;
  font-size: 20px; }

.sliderContainer svg {
  position: relative;
  bottom: -5px; }

.slider {
  margin-bottom: 2%;
  margin-top: 8%; }

.slider:hover {
  opacity: 1; }

@media screen and (min-width: 575px) {
  .sliderContainer {
    max-width: 271px; }
  input[type=range] {
    width: 240px; }
  .resultsContainer {
    text-align: center; } }

@media screen and (max-width: 575px) {
  input[type=range] {
    width: 90%; }
  .resultsContainer {
    text-align: right; } }

* {
  box-sizing: border-box; }

html {
  background-color: #191919; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #1f1f1f; }
  body .active {
    outline: 0; }

.menuIcon_container {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center; }

#drawer {
  font-family: 'Exo 2', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; }

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 3% 0 3%; }
  header svg {
    stroke: #1f48e7;
    stroke-width: 3.5;
    margin: 0 auto;
    display: block; }
    header svg:hover {
      stroke: #1f48e7;
      cursor: pointer; }

.formTitle {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.formProjectType_container,
.formServices_container,
.formProjectDescription_container,
.contacts_container,
.submitForm_wrapper {
  padding: 0 5% 5px 8%;
  display: flex;
  flex-direction: column;
  margin-top: 3%; }
  .formProjectType_container label:first-child,
  .formServices_container label:first-child,
  .formProjectDescription_container label:first-child,
  .contacts_container label:first-child,
  .submitForm_wrapper label:first-child {
    font-family: 'Exo 2', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 5px; }
  .formProjectType_container div,
  .formServices_container div,
  .formProjectDescription_container div,
  .contacts_container div,
  .submitForm_wrapper div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

.formRangeSelectors_container,
.file_uploader_container {
  padding: 0 5% 5px 8%;
  display: flex;
  margin-top: 3%; }
  .formRangeSelectors_container label:first-child,
  .file_uploader_container label:first-child {
    font-family: 'Exo 2', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 5px; }

.file_uploader_container {
  align-items: baseline;
  margin-top: 5px !important; }

.uploader_links_wrapper {
  display: flex;
  width: 100%;
  max-width: 704px;
  align-items: flex-start; }

.file_upload_link,
.file_uploaded_link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-right: 5%; }
  .file_upload_link svg,
  .file_uploaded_link svg {
    margin-right: 5px;
    fill: white; }
  .file_upload_link:hover,
  .file_uploaded_link:hover {
    cursor: pointer; }
    .file_upload_link:hover svg,
    .file_uploaded_link:hover svg {
      cursor: pointer; }

.file_uploaded_link:hover svg {
  fill: red; }

.file_upload_link:hover svg {
  fill: #1f48e7; }

.uploader_description,
.uploader_description_mobile {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  font-weight: 300; }

.btn_form.active, .btn_form_project.active {
  background-color: #1f48e7;
  border: 1px solid #1f48e7;
  border-radius: 4px;
  outline: 0; }
  .btn_form.active:hover, .btn_form_project.active:hover {
    background-color: #2043cb;
    border: 1px solid #2043cb;
    cursor: pointer;
    outline: 0; }
  .btn_form.active:focus, .btn_form_project.active:focus {
    outline: 0; }

.btn_form, .btn_form_project {
  background-color: #474747;
  border: 1px solid #474747;
  border-radius: 4px;
  outline: 0; }
  .btn_form:focus, .btn_form_project:focus {
    outline: 0; }
  .btn_form:hover, .btn_form_project:hover {
    background-color: #373737;
    border: 1px solid #373737;
    cursor: pointer;
    outline: 0; }

.btn_form, .btn_form_project::-moz-focus-inner {
  outline: 0; }

.btn_submit {
  width: 100%;
  background-color: #1f48e7;
  border: 1px solid #1f48e7;
  border-radius: 4px; }
  .btn_submit:hover {
    background-color: #2043cb;
    border: 1px solid #2043cb;
    cursor: pointer;
    outline: 0; }

@media screen and (max-width: 575px) {
  #menuBtn {
    display: none; }
  header {
    max-height: 10px; }
  .btn_form.active:first-of-type,
  .btn_form_project.active:first-of-type,
  .btn_form:first-of-type, .btn_form_project:first-of-type {
    min-width: 183px !important; }
  .btn_form.active, .btn_form_project.active,
  .btn_form, .btn_form_project {
    margin: 10px 10px 10px 0;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 120px;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center; }
  .btn_submit {
    height: 64px;
    max-width: 335px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif; }
  .formProjectType_container,
  .formServices_container,
  .formProjectDescription_container,
  .contacts_container,
  .submitForm_wrapper,
  .formTitle {
    padding: 0 4% 5px 4%; }
  .submitForm_wrapper div {
    justify-content: center; }
  .formTitle > p {
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 300; }
  .formRangeSelectors_container,
  .file_uploader_container {
    flex-direction: column; }
  .uploader_links_wrapper,
  .contacts_container {
    flex-direction: column; }
  .contacts_container div,
  .formProjectDescription_container div {
    flex-direction: column; }
  .uploader_description_mobile {
    display: block; }
  .uploader_description {
    display: none; } }

@media screen and (min-width: 575px) {
  #menuBtn {
    display: block; }
  header {
    max-height: 50px; }
  .btn_form.active:first-of-type,
  .btn_form_project.active:first-of-type,
  .btn_form:first-of-type, .btn_form_project:first-of-type {
    min-width: 235px !important; }
  .btn_form.active, .btn_form_project.active,
  .btn_form, .btn_form_project {
    margin: 20px 20px 20px 0;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center; }
  .btn_submit {
    margin-right: 10px;
    height: 60px;
    max-width: 273px;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif; }
  .formProjectType_container,
  .formServices_container,
  .formProjectDescription_container,
  .contacts_container,
  .submitForm_wrapper,
  .formTitle {
    padding: 0 5% 5px 8%; }
  .formTitle > p {
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    font-weight: 300; }
  .formRangeSelectors_container,
  .file_uploader_container {
    flex-direction: row; }
  .uploader_description_mobile {
    display: none; }
  .uploader_description {
    display: block; } }

.ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10000; }
  .ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    pointer-events: none;
    background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform: scale(10, 10);
            transform: scale(10, 10);
    opacity: 0;
    transition: opacity 1s, -webkit-transform .5s;
    transition: transform .5s, opacity 1s;
    transition: transform .5s, opacity 1s, -webkit-transform .5s; }
  .ripple:active:after {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: .2;
    transition: 0s; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.contacts_inputs_wrapper {
  display: flex;
  flex-direction: column; }

.text_input_container {
  max-width: 704px; }

input[type=text] {
  border-color: transparent; }

input[type=text]:focus, :active, ::-moz-focus-inner {
  border-color: transparent; }

#projectDesc {
  max-width: 704px; }

#projectDesc, #name_input, #phone_input {
  -webkit-appearance: none;
  width: 100%;
  border-color: rgba(255, 255, 255, 0.4);
  border-width: 0 0 1px 0;
  color: rgba(255, 255, 255, 0.4);
  background: #1f1f1f;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 10px; }

#projectDesc_label, #name_input_label, #phone_input_label {
  display: none;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px; }

#projectDesc:focus,
#name_input:focus,
#phone_input:focus, :active {
  border-color: white;
  outline-width: 0; }

@media screen and (min-width: 575px) {
  .text_input_container {
    margin-right: 10%; }
  #name_input, #phone_input {
    margin-right: 10%;
    max-width: 270px; } }

@media screen and (max-width: 575px) {
  .text_input_container {
    margin-top: 10px;
    margin-bottom: 20px; }
  #name_input, #phone_input {
    max-width: 100%; } }

